html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
h2{
    display: inline;
    margin: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
}

.sidebar{
    display:grid;
    background-color: blue;
    grid-template-rows: minmax(30px,70px) repeat(11, minmax(20px,50px));
}
.content{
    display:grid;
    background-color: brown;
    grid-template-rows: 2fr 8fr;
    border: 5px solid green;
}
.header{
    display:grid; 
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;

}

.container-search{
    display:flex;
    align-items: center ;
    justify-content: left;
}
.search{
    padding:0px 2% 0px 5%;
    width: 100%;
}
.search-bar{
    width:70%;
    border: 2px solid #ccc;  /* Border color */
    border-radius: 25px;      /* Makes it rounded */
    outline: none;            /* Removes default focus outline */
    background-color: #ccc;
    min-height: 25px;
    font-size: 15px;
    transition: border 0.3s;
}
.search input:focus {
    border-color: #007BFF;   /* Border color when focused */
}
.search i{
    border: none;
    cursor: pointer;
    font-size: 25px; 
}
.container-profile{
    display:flex;
    align-items: center;
    justify-content: center;
}
.profile{
    padding:0px 2% 0px 5%;
}

.container-filter{
    display:flex;
    align-items: center;
    justify-content: center;
}
.container-greetings{
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-content{
    display: grid;
    grid-template-rows: 1fr 10fr;
    border: 5px solid gold;
}
.content-body{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr
}
.content-aside{
    display: grid;
    grid-template-rows: 4fr 1fr 4fr;
}
.content-header{
    display: grid ;
    grid-template-columns: 3fr 1fr;
}
div{
    border:1px solid white
}
